@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, pre {
    font-family: 'pretendard', sans-serif;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* 폰트 */
  .custom-bold-text {
    font-weight: 700;
    font-size: 2rem;
  }
  .custom-semibold-text {
    font-weight: 500;
    font-size: 1.6rem;
  }
  .custom-medium-text {
    font-weight: 400;
    font-size: 1.4rem;
  }
  .custom-light-text {
    font-weight: 200;
    font-size: 1.2rem;
  }
  .custom-login-text {
    font-weight: 500;
    font-size: 1rem;
  }
  .custom-emphasize-text {
    font-weight: 600;
    font-size: 1.2rem;
  }

  /* 그라데이션 테두리 */
  .custom-gradient-border {
    border: 0.3rem solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #db719e 0%, #5a9ed0 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}
