@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  pre {
    font-family: 'pretendard', sans-serif;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* 폰트 */
  .custom-bold-text {
    font-weight: 700;
    font-size: 2rem;
  }
  .custom-semibold-text {
    font-weight: 500;
    font-size: 1.6rem;
  }
  .custom-medium-text {
    font-weight: 400;
    font-size: 1.4rem;
  }
  .custom-light-text {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .custom-login-text {
    font-weight: 500;
    font-size: 1rem;
  }
  .custom-emphasize-text {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .custom-logo-text {
    font-weight: 800;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    line-height: 5.5rem;
  }

  /* 그라데이션 테두리 */
  .custom-gradient-border {
    border: 0.3rem solid transparent;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(to right, #db719e 0%, #5a9ed0 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  /* 리캡 스포트라이트 */
  .spotlight {
    width: 0;
    height: 0;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    animation: spotlight-grow 3s ease;
  }
  @keyframes spotlight-grow {
    0% {
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
      border-bottom: 5rem solid rgba(255, 252, 173, 0.8);
    }
    100% {
      height: 40rem;
      border-left: 15rem solid transparent;
      border-right: 15rem solid transparent;
      border-bottom: 40rem solid rgba(255, 252, 173, 0.8);
    }
  }

  /* 리캡 진행 블록 */
  .progressBlock {
    width: 3.3rem;
    height: 0.5rem;
    background-color: white;
    transform-origin: left;
    transition: width 10s ease-in-out;
    animation: progressBlock-grow 10s linear forwards;
  }
  @keyframes progressBlock-grow {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  /* 반짝임 애니메이션 */
  .animationBlink {
    transition: color 1s ease-in-out;
    animation: recap-blink 1s infinite alternate;
  }
  @keyframes recap-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  /* 줌 인/아웃 애니메이션 */
  .animationZoom {
    transition: margin 1s ease-in-out;
    animation: zoom 1s infinite alternate;
  }
  @keyframes zoom {
    0% {
      margin-bottom: 1rem;
      transform: scale(1);
    }
    100% {
      margin-bottom: -1rem;
      transform: scale(1.05);
    }
  }

  /* 팔랑이는 애니메이션 */
  .flying-div {
    animation: fly-in 2s ease-in-out;
  }
  @keyframes fly-in {
    0% {
      transform: translateX(-100%) translateY(-100%) rotate(-45deg);
    }
    50% {
      transform: translateX(50%) translateY(50%) rotate(45deg);
    }
    100% {
      transform: translateX(0%) translateY(0%) rotate(0deg);
    }
  }

  /* 로딩 블록 애니메이션-red */
  .loading-block-red {
    animation: loadingBlockRed 2.2s ease-in-out forwards;
  }
  @keyframes loadingBlockRed {
    0% {
      top: -23rem;
    }
    100% {
      top: 0rem;
    }
  }

  /* 로딩 블록 애니메이션-yellow */
  .loading-block-yellow {
    animation: loadingBlockYellow 2s ease-in-out forwards;
  }
  @keyframes loadingBlockYellow {
    0% {
      top: -23rem;
    }
    100% {
      top: 6.2rem;
    }
  }

  /* 로딩 블록 애니메이션-blue */
  .loading-block-blue {
    animation: loadingBlockBlue 1.5s ease-in-out forwards;
  }
  @keyframes loadingBlockBlue {
    0% {
      top: -23rem;
    }
    100% {
      top: 10.8rem;
    }
  }

  /* 로딩 블록 애니메이션-white */
  .loading-block-white {
    animation: loadingBlockWhite 1.2s ease-in-out forwards;
  }
  @keyframes loadingBlockWhite {
    0% {
      top: -23rem;
    }
    100% {
      top: 17.1rem;
    }
  }

  /* 로고 상단 애니메이션 */
  .logo-desc {
    animation: descAnimation 1.2s ease-in-out forwards;
    animation-delay: 2s;
    opacity: 0;
  }
  @keyframes descAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      text-shadow: 0.2rem 0 0 #141414;
    }
  }

  /* 로고 하단 애니메이션 */
  .logo-bareun-life {
    animation: logoAnimation 1.2s ease-in-out forwards;
    animation-delay: 2.7s;
    opacity: 0;
  }
  @keyframes logoAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      text-shadow: 0.4rem 0 0 #141414;
    }
  }

  /* 로그인 버튼 애니메이션 */
  .loginButtons {
    animation: loginButtonsAnimation 1.2s ease-in-out forwards;
    animation-delay: 3.4s;
    opacity: 0;
  }
  @keyframes loginButtonsAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flowText {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .flowing-text {
    white-space: nowrap;
    will-change: transform;
    animation: flowText 40s linear infinite;
  }
}
